.flexbox {
  display: flex;
  justify-content: space-between;
}

.board {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 30px;
  width: 50%;
  margin: 50px;
}

.card {
  display: flex;
  background-color: white;
  padding: 30px;
  margin: 20px;
}
